{% extends "base.html" %}


{% block head %}
    <script src="{{ STATIC_URL }}BaseGroup/js/join_group.js"></script>
<h1>Group Info Page</h1>

{% endblock %}

{% block body %}
{% if group %}
    <h4><b>Name:</b></h4>
    <h4><b>{{ group.name|default:"Not Provided" }}</b></h4>
    <h3>{{ group.description }}</h3>
    <h3>Created By <a href='/user/{{ owner.user.username }}'>{{ owner.user.first_name|default:"Anonymous" }}</a></h3>
    <div id="members">
    {% include "basic_group/group_members.html" %}
    </div>
{% endif %}

<div id="manage">
{% if admin %}
    <h1><b>YOU ARE CURRENTLY ADMIN FOR THIS PAGE</b></h1>
{% elif is_member %}
    <button id="group-leave-{{ group.id }}" class="leave">Leave Group</button>
{% else %}
    <button id="group-join-{{ group.id }}" class="join">Join Group</button>
{% endif %}
</div>

{% endblock %}