{% extends "base.html" %}


{% block head %}
<h1>Group Info Page</h1>
{% endblock %}

{% block body %}
{% if group %}
    <h4><b>Name:</b></h4>
    <h4><b>{{ group.name|default:"Not Provided" }}</b></h4>
    <h3>{{ group.description }}</h3>
    <h3>Created By <a href='/user/{{ owner.user.username }}'>{{ owner.user.first_name|default:"Anonymous" }}</a></h3>
    <h3>Current Members:</h3>
    {% for person in group.users.all %}
        <h2><a href="/">{{ person.user.first_name }}</a></h2>
    {% endfor %}
{% endif %}

{% if admin %}
    <h1><b>YOU ARE CURRENTLY ADMIN FOR THIS PAGE</b></h1>
{% else %}
    <form action="/">
        <input type="submit" value="APPLY TO JOIN THIS PARTY">
    </form>
{% endif %}

{% endblock %}