{% extends 'base.html' %}

{% if user.is_authenticated %}
    {% block head %}
    <h1>Main Page for {{ user.username }}</h1>
    {% endblock %}

    {% block body %}
    <h1>User Details (<a href="/accounts/editprofile/">Edit</a>)</h1>
    <h2>This page displays details on the user</h2>
    <h1><a href="/groups/new/">Create New Group</a> </h1>
    <br>
    <br>
    {% if user %}
        <h3><b>Name:</b></h3>
        <h4><i>{{ user.first_name|default:"Not Provided" }}</i></h4>
        <h3><b>Email:</b></h3>
        <h4><i>{{ user.email|default:"Not Provided" }}</i></h4>
    {% endif %}
    <br>
    <br>
    <h2>Click <a href="/logout/">HERE</a> to logout</h2>

        <h2>Welcome to your cool personal page.</h2>

    {% endblock %}

{% else %}
    <h1>Login Required</h1>
    <h2>please <a href="/login">login</a> to enter your profile.</h2>s
{% endif %}
