{% load static %}
<!DOCTYPE html>

<html>
  <head>

    <link rel="stylesheet" href="{% static 'assets/jquery-ui.min.css' %}">
    <script src="{% static 'assets/jquery-ui/external/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/jquery-ui/jquery-ui.min.js' %}"></script>
    <link href="{% static 'assets/themes/themes/ui-lightness/jquery-ui.css' %}" rel="stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    {% block head %}{% endblock %}
  </head>

  <body>
  <div id="menu">
    <h2>Menu</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="accounts/login">Login</a></li>
        <li><a href="">Menu Item 3</a></li>
        <li><a href="">Menu Item 4</a></li>
    </ul>
  </div>
  <div id="body">
      {% block body %}{% endblock %}
  </div>
  </body>
</html>